In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('train.csv')

In [8]:
df = df.drop(['Name','Ticket','Cabin'],axis=1)

In [25]:
age_mean = df["Age"].mean()
df["Age"] = df["Age"].fillna(age_mean)

In [26]:
df["Age"]

0     22.000000
1     38.000000
2     26.000000
3     35.000000
4     35.000000
5     29.699118
6     54.000000
7      2.000000
8     27.000000
9     14.000000
10     4.000000
11    58.000000
12    20.000000
13    39.000000
14    14.000000
...
876    20.000000
877    19.000000
878    29.699118
879    56.000000
880    25.000000
881    33.000000
882    22.000000
883    28.000000
884    25.000000
885    39.000000
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [51]:
from scipy.stats import mode
df["Embarked"]

0     S
1     C
2     S
3     S
4     S
5     Q
6     S
7     S
8     S
9     C
10    S
11    S
12    S
13    S
14    S
...
876    S
877    S
878    S
879    C
880    S
881    S
882    S
883    S
884    S
885    Q
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [65]:
from scipy.stats import mode
mode_embarked=df['Embarked'].value_counts().index[0]
df["Embarked"] = df["Embarked"].fillna(mode_embarked)

In [66]:
df["Embarked"]

0     S
1     C
2     S
3     S
4     S
5     Q
6     S
7     S
8     S
9     C
10    S
11    S
12    S
13    S
14    S
...
876    S
877    S
878    S
879    C
880    S
881    S
882    S
883    S
884    S
885    Q
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [67]:
df['Gender'] = df['Sex'].map({'female': 0, 'male': 1}).astype(int)
df['Port'] = df['Embarked'].map({'C':1, 'S':2, 'Q':3}).astype(int)

In [68]:
df = df.drop(['Sex', 'Embarked'], axis=1)

In [69]:
cols = df.columns.tolist()
cols = [cols[1]] + cols[0:1] + cols[2:]
df = df[cols]

In [73]:
df

,Survived,PassengerId,Pclass,Age,SibSp,Parch,Fare,Gender,Port
0,0,1,3,22.000000,1,0,7.2500,1,2
1,1,2,1,38.000000,1,0,71.2833,0,1
2,1,3,3,26.000000,0,0,7.9250,0,2
3,1,4,1,35.000000,1,0,53.1000,0,2
4,0,5,3,35.000000,0,0,8.0500,1,2
5,0,6,3,29.699118,0,0,8.4583,1,3
6,0,7,1,54.000000,0,0,51.8625,1,2
7,0,8,3,2.000000,3,1,21.0750,1,2
8,1,9,3,27.000000,0,2,11.1333,0,2
9,1,10,2,14.000000,1,0,30.0708,0,1
10,1,11,3,4.000000,1,1,16.7000,0,2
11,1,12,1,58.000000,0,0,26.5500,0,2
12,0,13,3,20.000000,0,0,8.0500,1,2
13,0,14,3,39.000000,1,5,31.2750,1,2
14,0,15,3,14.000000,0,0,7.8542,0,2
15,1,16,2,55.000000,0,0,16.0000,0,2
16,0,17,3,2.000000,4,1,29.1250,1,3
17,1,18,2,29.699118,0,0,13.0000,1,2
18,0,19,3,31.000000,1,0,18.0000,0,2
19,1,20,3,29.699118,0,0,7.2250,0,1
20,0,21,2,35.000000,0,0,26.0000,1,2
21,1,22,2,34.000000,0,0,13.0000,1,2
22,1,23,3,15.000000,0,0,8.0292,0,3
23,1,24,1,28.000000,0,0,35.5000,1,2
24,0,25,3,8.000000,3,1,21.0750,0,2
25,1,26,3,38.000000,1,5,31.3875,0,2
26,0,27,3,29.699118,0,0,7.2250,1,1
27,0,28,1,19.000000,3,2,263.0000,1,2
28,1,29,3,29.699118,0,0,7.8792,0,3
29,0,30,3,29.699118,0,0,7.8958,1,2
...,...,...,...,...,...,...,...,...,...
861,0,862,2,21.000000,1,0,11.5000,1,2
862,1,863,1,48.000000,0,0,25.9292,0,2
863,0,864,3,29.699118,8,2,69.5500,0,2
864,0,865,2,24.000000,0,0,13.0000,1,2
865,1,866,2,42.000000,0,0,13.0000,0,2
866,1,867,2,27.000000,1,0,13.8583,0,1
867,0,868,1,31.000000,0,0,50.4958,1,2
868,0,869,3,29.699118,0,0,9.5000,1,2
869,1,870,3,4.000000,1,1,11.1333,1,2
870,0,871,3,26.000000,0,0,7.8958,1,2
871,1,872,1,47.000000,1,1,52.5542,0,2
872,0,873,1,33.000000,0,0,5.0000,1,2
873,0,874,3,47.000000,0,0,9.0000,1,2
874,1,875,2,28.000000,1,0,24.0000,0,1
875,1,876,3,15.000000,0,0,7.2250,0,1
876,0,877,3,20.000000,0,0,9.8458,1,2
877,0,878,3,19.000000,0,0,7.8958,1,2
878,0,879,3,29.699118,0,0,7.8958,1,2
879,1,880,1,56.000000,0,1,83.1583,0,1
880,1,881,2,25.000000,0,1,26.0000,0,2
881,0,882,3,33.000000,0,0,7.8958,1,2
882,0,883,3,22.000000,0,0,10.5167,0,2
883,0,884,2,28.000000,0,0,10.5000,1,2
884,0,885,3,25.000000,0,0,7.0500,1,2
885,0,886,3,39.000000,0,5,29.1250,0,3
886,0,887,2,27.000000,0,0,13.0000,1,2
887,1,888,1,19.000000,0,0,30.0000,0,2
888,0,889,3,29.699118,1,2,23.4500,0,2
889,1,890,1,26.000000,0,0,30.0000,1,1
890,0,891,3,32.000000,0,0,7.7500,1,3

In [71]:
train_data = df.values

In [72]:
train_data

array([[   0.    ,    1.    ,    3.    , ...,    7.25  ,    1.    ,    2.    ],
       [   1.    ,    2.    ,    1.    , ...,   71.2833,    0.    ,    1.    ],
       [   1.    ,    3.    ,    3.    , ...,    7.925 ,    0.    ,    2.    ],
       ...,
       [   0.    ,  889.    ,    3.    , ...,   23.45  ,    0.    ,    2.    ],
       [   1.    ,  890.    ,    1.    , ...,   30.    ,    1.    ,    1.    ],
       [   0.    ,  891.    ,    3.    , ...,    7.75  ,    1.    ,    3.    ]])

In [97]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators = 100)
model = model.fit(train_data[0:,2:],train_data[0:,0])

In [98]:
df_test = pd.read_csv('test.csv')

In [99]:
df_test = df_test.drop(['Name', 'Ticket', 'Cabin'], axis=1)

In [100]:
df_test['Age'] = df_test['Age'].fillna(age_mean)

In [101]:
fare_means = df.pivot_table('Fare', index='Pclass', aggfunc='mean')

In [102]:
fare_means

Pclass
1         84.154687
2         20.662183
3         13.675550
Name: Fare, dtype: float64

In [103]:
df_test['Fare'] = df_test[['Fare', 'Pclass']].apply(lambda x:
                            fare_means[x['Pclass']] if pd.isnull(x['Fare'])
                            else x['Fare'], axis=1)

/home/rajesh/anaconda3/lib/python3.4/site-packages/pandas/core/index.py:648: FutureWarning: scalar indexers for index type Int64Index should be integers and not floating point
  type(self).__name__),FutureWarning)

In [105]:
df_test['Gender'] = df_test['Sex'].map({'female': 0, 'male': 1}).astype(int)
df_test['Port'] = df_test['Embarked'].map({'C':1, 'S':2, 'Q':3})

In [106]:
df_test = df_test.drop(['Sex', 'Embarked'], axis=1)

In [107]:
test_data = df_test.values

output = model.predict(test_data[:,1:])

In [111]:
result = np.c_[test_data[:,0].astype(int), output.astype(int)]
df_result = pd.DataFrame(result[:,0:2], columns=['PassengerId', 'Survived'])

In [112]:
df_result.to_csv('results/titanic_1-1.csv', index=False)

In [117]:
df_result.shape

(418, 2)